In [1]:
# Load the SQL extension
%load_ext sql

In [2]:
# Use an in memory SQLite database
%sql sqlite:///employees.db

In [3]:
%%sql
/* Create a sample table */
DROP TABLE IF EXISTS employees;

CREATE TABLE employees(
    id INTEGER PRIMARY KEY,
    name TEXT,
    career TEXT,
    salary INTEGER
);

 * sqlite:///employees.db
Done.
Done.

[]

In [4]:
%%sql
/* Create employee table with name, career, and salary */
INSERT INTO employees (id, name, career, salary) VALUES
('Bob', 'Engineer', 85000),
('Sandy', 'Architect', 82000),
('Charles', 'Teacher', 65000);

 * sqlite:///employees.db
(sqlite3.OperationalError) 3 values for 4 columns
[SQL: /* Create employee table with name, career, and salary */
INSERT INTO employees (id, name, career, salary) VALUES
('Bob', 'Engineer', 85000),
('Sandy', 'Architect', 82000),
('Charles', 'Teacher', 65000);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [5]:
%config SqlMagic.autopandas = True

In [6]:
%%sql 
SELECT name, salary FROM employees WHERE salary > 50000;

 * sqlite:///employees.db
Done.

Empty DataFrame
Columns: []
Index: []

In [8]:
result = %sql SELECT name, salary FROM employees WHERE salary > 50000;
df = result

 * sqlite:///employees.db
Done.